.loading-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1a1a1a;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.loading-5756 {
  text-align: center;
  padding: 20px;
}

.logo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

.progress-container {
  width: 600px;
  height: 6px;
  position: relative;
  margin: 100px auto;
  background: linear-gradient(
    270deg,
    rgba(240, 111, 30, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  backdrop-filter: blur(199.4174041748047px);
}

.progress-background {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    270deg,
    rgba(240, 111, 30, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  backdrop-filter: blur(199.4174041748047px);
}

.progress-filled {
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.517708) 60.42%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.1s linear;
  border-radius: 3px 0 0 3px;
  width: 100px;
}

.progress-current {
  width: 200px;
  height: 12px;
  background: linear-gradient(
    270deg,
    rgba(240, 111, 30, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  backdrop-filter: blur(199.4174041748047px);
  border-radius: 50%;
  position: absolute;
  top: -3px;
  transform: translateX(-50%);
  box-shadow: 0 0 5px rgba(240, 111, 30, 0.7);
}

.loading-text {
  font-size: 1.2rem;
  color: #fff;
  margin-top: 10px; /* Уменьшили отступ для лучшего вида */
}

.circular-progress {
  width: 120px;
  height: 120px;
  border: 6px solid #e76f51;
  border-top: 6px solid #f4a261;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  animation: spin 0.5s linear infinite;
  box-shadow: 0 0 10px rgba(231, 111, 81, 0.5);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer utilities {
  @keyframes dots {
    0% {
      content: "";
    }
    20% {
      content: ".";
    }
    40% {
      content: "..";
    }
    60% {
      content: "...";
    }
    100% {
      content: "";
    }
  }

  .dot {
    animation: blink 1.5s infinite;
    opacity: 0;
  }

  .dot:nth-child(1) {
    animation-delay: 0s;
  }
  .dot:nth-child(2) {
    animation-delay: 0.3s;
  }
  .dot:nth-child(3) {
    animation-delay: 0.6s;
  }

  @keyframes blink {
    0%,
    20% {
      opacity: 0;
    }
    30%,
    60% {
      opacity: 1;
    }
    80%,
    100% {
      opacity: 0;
    }
  }
}


@media (max-width: 640px) {
  .progress-container {
    width: 90%;
    height: 6px;
    margin: 80px auto;
  }

  .circular-progress {
    width: 80px;
    height: 80px;
    border-width: 4px;
  }

  .loading-text {
    font-size: 1rem;
  }
}