@import "tailwindcss";

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Geist', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
  font-family: "Geist", system-ui, sans-serif;
  background-color: #FFFFFF;
}

.container {
  max-width: 1245px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 725px;
    padding-left: 20px;
    padding-right: 20px; 
  }
}

@media (max-width: 500px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  vertical-align: middle;
}

a {
  margin: 0;
}
